{% extends "app_attendance/base.html" %} 

{% block title %}Selecione um arquivo{% endblock %}

{% block content %}
    {% load static %}
    <div><img src="{% static 'app_attedance/logo.png' %}"></div>

    <div class="pure-g">
        <div class="pure-u-2-3" style="display: table; margin: 0 auto;">
            <form action="{% url 'app_attendance:index' %}" class="pure-form pure-form-aligned" method="POST" enctype="multipart/form-data">
                <fieldset>
                    {% csrf_token %}
                    <legend>Envio de entrada</legend>

                    <div class="pure-control-group">
                        {{ form.file.file.label_tag }}
                        {{ form.file.file }}
                    </div>
                    <div class="pure-controls">
                        <input type="submit" class="pure-button pure-button-primary" name="file_upload__submit">
                    </div>
                </fieldset>
            </form>

            <form action="{% url 'app_attendance:index' %}" class="pure-form pure-form-aligned" method="POST" enctype="multipart/form-data">
                <fieldset>
                    {% csrf_token %}
                    <legend>Busca</legend>

                    <div class="pure-control-group">
                        {{ form.search.init_date.label_tag }}
                        {{ form.search.init_date }}
                    </div>

                    <div class="pure-control-group">
                        {{ form.search.final_date.label_tag }}
                        {{ form.search.final_date }}
                    </div>

                    <div class="pure-control-group">
                        {{ form.search.id.label_tag }}
                        {{ form.search.id }}
                    </div>

                    <div class="pure-controls">
                        <input type="submit" class="pure-button pure-button-primary" name="search_per_month__submit" value="Busca por mês">
                        <input type="submit" class="pure-button pure-button-primary" name="search_per_day__submit" value="Busca por dia">
                    </div>
                <fieldset>
            </form>
        </div>
    </div>
{% endblock %}
